<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<style type="text/css">
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    select:focus
    {
        /*border: 0;*/
        outline: 0;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }


    .exchange-single
    {
        padding-top: 50px
    }
    .exchange-card
    {
        padding: 1.75rem;
        border-radius: calc(2 * .25rem);
        background: #f8f7f2;
        box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
        border: 1px solid rgba(0, 0, 0, .2);
    }
    .exchange-card form .row
    {
        margin-bottom: 15px;
    }
    .exchange-card h3
    {
        margin-bottom: 25px;
        text-align: center;
    }
    .submit-div
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .submit-btn
    {
        background: #17aac9;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;
    }
    .submit-btn:hover
    {
        color: #17aac9;
        background: transparent;
        border: 1px solid #17aac9;
    }
    .submit-btn:focus
    {
        outline: none;
    }
    .btn-check:focus+.btn, .btn:focus
    {
        outline: 0;
        box-shadow: none;
    }
    .update-ex a
    {
        color: #17aac9;
        padding: 10px 15px;
        border: 1px solid #17aac9;
        border-radius: 4px;
        transition: 0.3s;
    }
    .update-ex a:hover
    {
        color: #fff;
        background: #17aac9;
    }

    @media only screen and (min-width: 980px)
    {
        .exchange-single
        {
            width: 60%;
            margin: 0 auto;

        }
        .submit-btn
        {
            margin-left: 122px;
        }
    }


    /*Payment*/


    *{
        margin: 0;
        padding: 0;
    }



    .app-container{
        height: 300px;
        width: 400px;
        /*background-image: linear-gradient(#580e8f,#9200ff);*/
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }

    .middle-box h1{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 50px;
        font-weight: normal;


    }

    .middle-box h1 span{
        font-size: 20px;
        margin-left: 5px;
        bottom: 18px;
        position : relative;
    }


    .card-details{
        background: #4f77fb;
        color: #06080b;
        margin: 10px 30px;
        padding: 10px;
    }
    .card-details p{
        font-size: 16px;
    }


    .card-details label{
        font-size: 14px;
        line-height: 20px;
    }

    .card-num-field-group{
        margin-top: 10px;
    }

    .date-field-group{
        margin-top: 10px;
        display: inline-block;
    }

    .cvc-field-group{
        margin-top: 10px;
        display: inline-block;
        float: right;
    }


    .name-field-group{
        margin-top: 10px;
    }

    .card-num-field, .name-field{
        width: 260px;

    }

    .date-field, .cvc-field{
        width: 70px;
    }

    .card-details input{
        border: 1px solid #ccc;
        height: 22px;
        padding: 5px;
        font-size: 14px;
    }

    .card-details input::placeholder{
        color: #ccc;
    }


    .pay-btn{
        width: 270px;
        color: #fff;
        margin-top: 20px;
        height: 30px;
        background-color: #0047a0;
        border: none;
        cursor: pointer;
    }


</style>


<div class="admin-body">
    <div class="container">
        <div class="exchange-single">
            <div class="exchange-card">
                <div>
                    <h2 style="text-align: center">Welcome <span>Cotiviti</span></h2><br>
                    <span style="color: #1b2654">Full Name: </span><span id="fullname" style="color: green" th:text="${fullname}"></span><br>
                    <span style="color: #1b2654">Movies Name: </span><span id="moviesname" style="color: green" th:text="${moviesname}"></span><br>
                    <span style="color: #1b2654">Circle: </span><span id="circle" style="color: green" th:text="${circle}"></span><br>
                    <span style="color: #1b2654">Childrean: </span><span id="children" style="color: green" th:text="${childrens}"></span><br>
                    <span style="color: #1b2654">Adults: </span><span id="adults" style="color: green" th:text="${tickets}"></span><br>

                    <span style="color: #1b2654">ShowDate: </span><span id="showdate" style="color: green" th:text="${showdate}"></span><br>
                    <span style="color: #1b2654">TotalAmount: </span><span id="TotalPayment" style="color: green" th:text="${totalamount}"></span><br>

                </div><br>
                <div class= "app-container" id="payment">
                    <form action="/savePaymentDetails" method="post">
                        <div class="card-details">
                            <p>Pay using credit or debit card</p>
                            <div class="card-num-field-group">
                                <label>Card Number</label><br>
                                <input type="text" class="card-num-field" name="cardNo" placeholder="xxxx-xxxx-xxxx-xxxx">
                            </div>

                            <div class="date-field-group">
                                <label>Expiry Date</label><br>
                                <input type="text" class="date-field" name="months" placeholder="mm">
                                <input type="text" class="date-field" name="year" placeholder="yyyy">
                            </div>

                            <div class="cvc-field-group">
                                <label>CVC</label><br>
                                <input type="password" name="cvcNo" class="cvc-field" placeholder="xxx">
                            </div>

                            <div class="name-field-group">
                                <input type="text" name="fullname" class="name-field" placeholder="Full Name">
                                <label>Card Holder Name</label>
                            </div>

                            <button type="submit" class="pay-btn">Pay Now</button>

                        </div>
                    </form>

                </div>



            </div>
        </div>
    </div>
</div>
</body>
</html>

