<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body	{ background-color: #00CED1;
            color: #0C1584;
        }
        table,tr,td{ font-family: monospace;
            font-weight: bold;
        }
        #result{ font-weight: bold;
            color: #0000FF;}

        h1{ color: #0000FF;
            font-family: monospace;
            text-align: center;}

        /* Add some padding on document's body to prevent the content
       to go underneath the header and footer */
        body{
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .container{
            width: 80%;
            margin: 0 auto; /* Center the DIV horizontally */
        }
        .fixed-header, .fixed-footer{
            width: 100%;
            position: fixed;
            background: #333;
            padding: 10px 0;
            color: #fff;
        }
        .fixed-header{
            top: 0;
        }
        .fixed-footer{
            bottom: 0;
        }
        /* Some more styles to beutify this example */
        nav a{
            color: #fff;
            text-decoration: none;
            padding: 7px 25px;
            display: inline-block;
        }
        .container p{
            line-height: 200px; /* Create scrollbar to test positioning */
        }

    </style>
</head>
<body>
<div class="fixed-header">
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/reshistory">Reservation History</a>
            <a href="/paymentHistory">Payment History</a>
            <a href="#">Contact Us</a>
        </nav>
    </div>
</div>
<div>
    <table border="1" align="center">
        <tr>
            <th>Full Name</th>
            <th>Movies Name</th>
            <th>Circle</th>
            <th>Phone</th>
            <th>Tickets</th>
            <th>Children</th>
            <th>Showdate</th>
            <th>TotalAmount</th>
            <th>BookDAte</th>
            <th>Status</th>
        </tr>
        <tr th:each="product : ${details}">
            <td th:text="${product.fullname}"></td>
            <td th:text="${product.moviename}"></td>
            <td th:text="${product.circle}"></td>
            <td th:text="${product.phone}"></td>
            <td th:text="${product.tickets}"></td>
            <td th:text="${product.childrens}"></td>
            <td th:text="${product.showdate}"></td>
            <td th:text="${product.totalamount}"></td>
            <td th:text="${product.bookeddate}"></td>
            <td th:text="${product.paymentStatus}"></td>
        </tr>
        <table>
</div>
</body>
</html>